<h1>Editing legal form</h1>

<%= render "form", legal_form: @legal_form %>

<br>

<div>
  <%= link_to "Show this legal form", @legal_form %> |
  <%= link_to "Back to legal forms", legal_forms_path %>
</div>
