<p style="color: green"><%= notice %></p>

<h1>Client legal forms</h1>

<%= render "client_legal_form_grid", client_legal_forms: @client_legal_forms %>


<%= link_to "New client legal form", new_client_legal_form_path %>
