<p style="color: green"><%= notice %></p>

<h1>Client legal forms</h1>

<%= render "form", client_legal_form: @client_legal_form %>


<%= link_to "New client legal form", new_client_legal_form_path %>
