<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New client data entry</h1>

  <%= render "form", client_data_entry: @client_data_entry %>

  <%= link_to "Back to client data entries", client_data_entries_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
