<div>
  <% if @subform_list.length > 0 %>
    <% @subform_list.each do |subform| %>
      <div>
        <%= subform.client_answers[0].answer %>
        <button data-action="subform#showForm" data-subformid="<%=subform.id%>">Edit Form</button>
        <button data-action="subform#deleteForm" data-subformid="<%=subform.id%>">Delete</button>
      </div>
    <% end %>
  <% else %>
    <div>No Forms</div>
  <% end %>
</div>
