<h1>Editing legal form question</h1>

<%= render "form", legal_form_question: @legal_form_question %>

<br>

<div>
  <%= link_to "Show this legal form question", @legal_form_question %> |
  <%= link_to "Back to legal form questions", legal_form_questions_path %>
</div>
