<div class="text-center">
  <h1>Welcome to your Legal Forms thing.  What do you want to do?</h1>

  <%= link_to "View Clients", clients_path, :method => "get", class: 'bg-blue-950 text-white text-lg inline p-2 my-5' %>
  <%= link_to "View Forms", client_legal_forms_path, :method => "get" , class: 'bg-blue-950 text-white text-lg inline p-2' %>

</div>